
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-family:'Papyrus', Tahoma, Geneva, Verdana, sans-serif">
    <b>
        @ViewData["Title"]
    </b>
</h1>

