@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about building Web apps with ASP.NET Core</a>.</p>
</div>

<a style="visibility:hidden" href="www.google.com">Admin Panele Git</a> <!-- Böyle yazarsak client'a gönderilir fakat sayfada gizlenir. -->
